<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Create an Ad</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: bootstrap_navbar"></nav>
<div class="container">
    <form action="/ads/create" method="post" th:object="${ad}">
        Title:
        <input name="title" th:field="*{title}"/>
        <br />
        Description:
        <input name="description" th:field="*{description}"/>
        <br />
        Categories
<!--        <input name="categories" type="text" th:field="*{categories}"/>-->
        <input type="submit" />
    </form>
</div>
</body>
</html>