<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta name="filestackapi" th:content="${filestackapi}">
    <title>Create an Ad</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: bootstrap_navbar"></nav>
<div class="container">
    <form action="/ads/create" method="post" th:object="${ad}">
        Title:
        <input name="title" th:field="*{title}"/>
        <br />
        Description:
        <input name="description" th:field="*{description}"/>
        <br />
        Categories
        <!--        Idea One: The Select Path -->
<!--        <select multiple="multiple" name="categories" type="text" th:field="${ad.categories}" class="form-control">-->
<!--            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>-->
<!--        </select>-->

        <!--        Idea Two: The Div Path -->
        <div th:each="category : ${categories}">
            <label th:class="${'category' + category.id}">
                <input type="checkbox" name="categories" th:field="*{categories}" th:value="${category.id}" th:text="${category.name}">
            </label>

        </div>
        <button id="upload">Upload Your images</button>

        <input th:type="hidden" id="stashFileStackURL" th:value="replacement" th:field="*{images}">
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/

    (function() {
        const fileStackApiKey = [[${filestackapi}]];
        console.log(fileStackApiKey);

        const client = filestack.init(fileStackApiKey);
        const options = {
            onUploadDone:
                function (res){
                    console.log(res.filesUploaded[0].url);
                    $("#stashFileStackURL").val(res.filesUploaded[0].url);
                }
        }

        $("#upload").click(() => {
            client.picker(options).open();
        });

    })();

    /*]]>*/

</script>
</body>
</html>