<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Create an Ad</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: bootstrap_navbar"></nav>
<div class="container">
    <form action="/ads/create" method="post" th:object="${ad}">
        Title:
        <input name="title" th:field="*{title}"/>
        <br />
        Description:
        <input name="description" th:field="*{description}"/>
        <br />
        Categories
        <!--        Idea One: The Select Path -->
<!--        <select multiple="multiple" name="categories" type="text" th:field="${ad.categories}" class="form-control">-->
<!--            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>-->
<!--        </select>-->

        <!--        Idea Two: The Div Path -->
        <div th:each="category : ${categories}">
            <label th:class="${'category' + category.id}">
                <input type="checkbox" name="categories" th:field="*{categories}" th:value="${category.id}" th:text="${category.name}">
            </label>

        </div>
        <input type="submit" />
    </form>
</div>
</body>
</html>